---
layout: default
---

<small>
	<span>{{ page.date | date: "%-d %B %Y" }}</span>
	<span>by {{ page.author | default: site.author }}</span>
</small>
<h1>{{ page.title }}</h1>

<p class="view">
	<span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><nobr>#{{ tag_name }}</nobr></a>
        {% endfor %}
	</span>
</p>

{{content}}

{% if page.tags %}
      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><nobr>#{{ tag_name }}</nobr></a>
        {% endfor %}
      </span>
{% endif %}
